#ifndef RCFILE_H_
#define RCFILE_H_
#include <windows.h>
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDI_ICON1               ICON    DISCARDABLE     "images/iqpuzzle.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    1,2,1,0
PRODUCTVERSION 1,2,1,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileDescription",    "A diverting I.Q. challenging pentomino puzzle\0"
            VALUE "FileVersion",        "1.2.1\0"
            VALUE "InternalName",       "iQPuzzle\0"
            VALUE "LegalCopyright",     "Copyright (c) 2012-2020 Thorsten Roth\0"
            VALUE "OriginalFilename",   "iQPuzzle.exe\0"
            VALUE "ProductName",        "iQPuzzle\0"
            VALUE "ProductVersion",     "1.2.1\0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
#endif  // RCFILE_H_
