[Desktop Entry]
Type=Application
Name=iQPuzzle
GenericName=Pentomino Puzzle
Comment=A diverting I.Q. challenging pentomino puzzle
Icon=com.github.elth0r0.iqpuzzle
TryExec=iqpuzzle
Exec=iqpuzzle %f
Terminal=false
Categories=Game;LogicGame;
Keywords=Puzzle;Pentomnio;IQ;
