Source: iqpuzzle
Section: games
Priority: optional
Maintainer: Thorsten Roth <elthoro@gmx.de>
Build-Depends:
   debhelper (>= 9),
   libqt4-dev,
   qt4-qmake,
   libqtgui4,
   pkg-config,
   hardening-wrapper
Standards-Version: 3.9.8
Homepage: https://launchpad.net/iqpuzzle
Vcs-Bzr: https://code.launchpad.net/~elthoro/iqpuzzle/packaging
Vcs-Browser: http://bazaar.launchpad.net/~elthoro/iqpuzzle/packaging

Package: iqpuzzle
Architecture: any
Depends:
   ${shlibs:Depends},
   ${misc:Depends}
Description: Challenging pentomino puzzle
 iQPuzzle is a diverting and challenging puzzle. Pentominos are used as puzzle
 pieces and 195 different board shapes are available, which have to be filled
 with them.
