Source: iqpuzzle
Section: games
Priority: optional
Maintainer: Thorsten Roth <elthoro@gmx.de>
Build-Depends:
   debhelper (>= 9),
   libqt4-dev,
   qt4-qmake,
   libqtgui4,
   pkg-config,
   dpkg-dev (>= 1.16.1.1)
Standards-Version: 4.1.1
Homepage: https://github.com/ElTh0r0/iqpuzzle
Vcs-Git: https://github.com/ElTh0r0/iqpuzzle.git
Vcs-Browser: https://github.com/ElTh0r0/iqpuzzle-packaging/tree/packaging

Package: iqpuzzle
Architecture: any
Depends:
   ${shlibs:Depends},
   ${misc:Depends}
Description: Challenging pentomino puzzle
 iQPuzzle is a diverting and challenging puzzle. Pentominos are used as puzzle
 pieces and 300 different board shapes are available, which have to be filled
 with them.
