name: "AppImage"

on:
  push:
    branches: [main]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [main]

jobs:
  AppImage_Ubuntu22-04:
    name: AppImage Ubuntu 22.04
    runs-on: ubuntu-22.04
    env:
      QT_SELECT: qt5
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Install Dependencies
      run: sudo apt update && sudo apt install qtbase5-dev qt5-qmake qttools5-dev-tools libfuse2

    - name: Download linuxdeployqt
      run: |
       wget -c -nv "https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage"
       chmod a+x linuxdeployqt-continuous-x86_64.AppImage
       unset QTDIR ; unset QT_PLUGIN_PATH ; unset LD_LIBRARY_PATH
       export VERSION=$(git rev-parse --short HEAD)  # linuxdeployqt uses this for naming the file

    - name: Download ffsend
      run: |
       FFSEND_VERSION=$(curl --silent https://api.github.com/repos/timvisee/ffsend/releases/latest | sed -Ene '/^ *"tag_name": *"(v.+)",$/s//\1/p')
       wget -c -nv "https://github.com/timvisee/ffsend/releases/download/$FFSEND_VERSION/ffsend-$FFSEND_VERSION-linux-x64-static"
       mv ./ffsend-* ./ffsend
       chmod a+x ./ffsend

    - name: Compile
      run: |
       qmake CONFIG+=release PREFIX=/usr
       make -j$(nproc)
       make INSTALL_ROOT=appdir -j$(nproc) install
       find appdir

    - name: Create AppImage
      run: |
       ./linuxdeployqt*.AppImage ./appdir/usr/share/applications/*.desktop -appimage -bundle-non-qt-libs -extra-plugins=iconengines,platformthemes/libqgtk3.so
       find ./appdir -executable -type f -exec ldd {} \; | grep " => /usr" | cut -d " " -f 2-3 | sort | uniq

    - name: Upload AppImage
      uses: actions/upload-artifact@v4
      with:
        name: iQPuzzle-AppImage_Artefacts
        path: iQPuzzle-*-x86_64.AppImage
        retention-days: 1
        overwrite: true
